Source: pop-support
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>=13),
  debhelper-compat (=13),
  cargo,
  just,
  rustc,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/support-panel

Package: pop-support
Architecture: amd64 arm64
Conflicts: libpop-support-panel
Replaces: libpop-support-panel
Provides: libpop-support-panel
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: System76 support utility for Pop!_OS
 Utility for Pop!_OS to generate changelogs for System76 support
